---
# Neural collapse config file. All must be specified
Model:
  model-name: None            # Name of model in "our_models"
  embedding-layers: None # Intermediate layers to use for NC loss with weightings. "^" used to indicate start of network.

Data:
  dataset-id: None       # Which dataset-getter to use. Note that shapes are provided by the dataset
  batch-size: 128        # Mini-batch size
  do-augmentation: False # Whether to do data augmentation

Optimizer:
  loss: mseloss
  weight-decay: 5.e-4    # Weight decay
  lr: 0.067              # Learning rate
  lr-decay: 0.2
  lr-decay-steps: 3      # Number of learning rate decay steps
  momentum: 0.9          # Optimizer momentum
  epochs: 300            # Number of epochs to train for

Logging:
  # When to store weights and calculate measurements
  save-dir: logs/matrix/default
  # log-interval: 10        # At what interval to log checkpoints. Always includes first 10 epochs
  log-epochs: [0, 1, 2, 3, 4, 5, 7, 10, 14, 20, 30, 40, 50, 60, 80, 100, 125, 150, 175, 200, 225, 250, 275, 300]  # Overrides log-interval

Measurements:
  measures: True

# Matrix for parsing into multiple configs to run with slurm
# Parsed as follows:
## All innermost values (leaves)  must be given in a list.
## For the current dictionairy level:
##   Any key other than "_Exclusive" is parsed and the innermost list of that key is used in the matrix.
##   If the key is _Exclusive, assume mutual exclusivity within the list of its contents,
##   and choose one of them to parse as another equivalent dictionary of values.
Matrix:
  _Exclusive:
    mlp:
      Model:
        model-name: [mlp, mlp_nobn, mlp_large, mlp_large_nobn, mlp_wide, mlp_wide_nobn, mlp_xwide, mlp_xwide_nobn]
        embedding-layers: [[fc]]
    resnet18:
      Model:
        model-name: [resnet18]
        embedding-layers: [[
          ^conv1, ^bn1, ^relu, ^maxpool,
          ^layer1.0, ^layer1.1,
          ^layer2.0, ^layer2.1,
          ^layer3.0, ^layer3.1,
          ^layer4.0, ^layer4.1,
          ^avgpool, ^fc
        ]]
  Data:
    dataset-id: [mnist, cifar10, cifar100]
...
